Helwig/RiskServerRunnable/Service References/ServiceReference1/SUOnlineRisk.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/SUOnlineRisk" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/SUOnlineRisk" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import namespace="http://schemas.datacontract.org/2004/07/System.Drawing" />
  <xs:complexType name="Message">
    <xs:sequence>
      <xs:element name="playerName" nillable="true" type="xs:string" />
      <xs:element name="state" type="tns:MainState" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="Message" nillable="true" type="tns:Message" />
  <xs:simpleType name="MainState">
    <xs:restriction base="xs:string">
      <xs:enumeration value="Start" />
      <xs:enumeration value="Initialize" />
      <xs:enumeration value="Distribute" />
      <xs:enumeration value="TradeCard" />
      <xs:enumeration value="NewArmies" />
      <xs:enumeration value="AdditionalArmies" />
      <xs:enumeration value="Reinforce" />
      <xs:enumeration value="Attack" />
      <xs:enumeration value="Roll" />
      <xs:enumeration value="Conquer" />
      <xs:enumeration value="AttackDone" />
      <xs:enumeration value="ReinforcementCard" />
      <xs:enumeration value="Fortify" />
      <xs:enumeration value="Update" />
      <xs:enumeration value="Over" />
      <xs:enumeration value="Unknown" />
      <xs:enumeration value="Idle" />
    </xs:restriction>
  </xs:simpleType>
  <xs:element name="MainState" nillable="true" type="tns:MainState" />
  <xs:complexType name="Map">
    <xs:sequence>
      <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/System.Drawing" name="bitmap" nillable="true" type="q1:Bitmap" />
      <xs:element name="continents" nillable="true" type="tns:ArrayOfContinent" />
      <xs:element name="fileName" nillable="true" type="xs:string" />
      <xs:element name="territories" nillable="true" type="tns:ArrayOfTerritory" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="Map" nillable="true" type="tns:Map" />
  <xs:complexType name="ArrayOfContinent">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="Continent" nillable="true" type="tns:Continent" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfContinent" nillable="true" type="tns:ArrayOfContinent" />
  <xs:complexType name="Continent">
    <xs:sequence>
      <xs:element name="id" type="xs:int" />
      <xs:element name="name" nillable="true" type="xs:string" />
      <xs:element name="territories" nillable="true" type="tns:ArrayOfTerritory" />
      <xs:element name="unitBonus" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="Continent" nillable="true" type="tns:Continent" />
  <xs:complexType name="ArrayOfTerritory">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="Territory" nillable="true" type="tns:Territory" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfTerritory" nillable="true" type="tns:ArrayOfTerritory" />
  <xs:complexType name="Territory">
    <xs:sequence>
      <xs:element name="_x003C_numArmies_x003E_k__BackingField" type="xs:int" />
      <xs:element name="continent" nillable="true" type="tns:Continent" />
      <xs:element name="id" type="xs:int" />
      <xs:element name="name" nillable="true" type="xs:string" />
      <xs:element name="neighbors" nillable="true" type="tns:ArrayOfTerritory" />
      <xs:element name="owner" nillable="true" type="xs:string" />
      <xs:element name="radius" type="xs:int" />
      <xs:element name="x" type="xs:int" />
      <xs:element name="y" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="Territory" nillable="true" type="tns:Territory" />
</xs:schema>